In [1]:
import app_functions as af
import pandas as pd
import custom_calculations as calcs

In [2]:
prices = pd.read_csv(r'Z:\Inter√©s Departamental\Model Portfolio\Hugo\Ranking DIP European Equities\copia 12-04-2023\data\vertical_dowload_files\PriceClose.csv',index_col=0)

In [4]:
one_month_momentum = calcs.rate_of_change(prices,1)
three_month_momentum = calcs.rate_of_change(prices,3)
six_month_momentum = calcs.rate_of_change(prices,6)
nine_month_momentum = calcs.rate_of_change(prices,9)
twelve_month_momentum = calcs.rate_of_change(prices,12)

In [6]:
n_quantiles = 4

In [7]:
one_month_ranks = af.rank_data(one_month_momentum,n_quantiles,'low')
three_month_ranks = af.rank_data(three_month_momentum,n_quantiles,'high')
six_month_ranks = af.rank_data(six_month_momentum,n_quantiles,'high')
nine_month_ranks = af.rank_data(nine_month_momentum,n_quantiles,'high')
twelve_month_ranks = af.rank_data(twelve_month_momentum,n_quantiles,'high')

2023-05-16 13:02:35.089
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\hugo.perezdealbeniz\AppData\Local\miniconda3\envs\refinitiv\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

Failed to rank:
 []
Failed to rank:
 ['2000-04-01']
Failed to rank:
 []
Failed to rank:
 ['2000-10-01']
Failed to rank:
 []

In [10]:
prices

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-01,NaN,8.164804,4.296516,NaN,NaN,20.61,NaN,14.463359,4.7500,8.753993,...,NaN,1.983096,1.420845,NaN,3.368634,NaN,NaN,3.876,2.524586,349.414876
2000-03-01,NaN,11.218151,6.288860,NaN,NaN,21.50,NaN,11.782517,5.5000,7.932050,...,NaN,2.197233,1.781508,NaN,7.352940,NaN,NaN,3.534,2.588134,322.115109
2000-04-01,NaN,10.725364,5.380019,NaN,NaN,23.29,NaN,12.087483,5.0000,9.415363,...,NaN,2.048269,1.418936,NaN,10.999998,NaN,NaN,3.664,2.660347,385.143315
2000-05-01,NaN,9.179365,4.683340,NaN,NaN,22.65,NaN,11.457383,5.0125,8.905127,...,NaN,2.012889,1.204937,NaN,10.656861,NaN,NaN,3.878,2.608354,342.378867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,30.12,16.000000,1.119500,2.730,NaN,NaN,15.261054,32.160527,36.5600,NaN,...,42.262410,3.264000,1.003000,23.11,NaN,NaN,NaN,NaN,NaN,441.619248
2022-10-01,29.54,13.570000,0.999800,2.636,NaN,NaN,13.588663,31.154221,33.7700,NaN,...,35.945404,2.874000,0.824500,20.23,NaN,NaN,NaN,NaN,NaN,408.493565
2022-11-01,34.44,13.340000,1.122000,2.920,NaN,NaN,14.779159,30.270950,35.1800,NaN,...,45.215367,2.538000,0.973500,23.33,NaN,NaN,NaN,NaN,NaN,431.884159
2022-12-01,38.17,13.770000,1.277000,3.350,NaN,NaN,15.899665,39.482074,37.6000,NaN,...,43.959871,2.668000,0.963000,29.74,NaN,NaN,NaN,NaN,NaN,460.265551
2023-01-01,36.55,11.600000,1.245000,3.192,NaN,NaN,15.967163,36.583628,36.2300,NaN,...,41.071060,2.460000,0.935000,33.11,NaN,NaN,NaN,NaN,NaN,447.084725

In [12]:
(0.999800-1.119500)/1.119500

-0.10692273336310847

In [8]:
one_month_momentum

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-01,NaN,0.373964,0.463712,NaN,NaN,0.043183,NaN,-0.185354,0.157895,-0.093894,...,NaN,0.107981,0.253837,NaN,1.182766,NaN,NaN,-0.088235,0.025172,-0.078130
2000-04-01,NaN,-0.043928,-0.144516,NaN,NaN,0.083256,NaN,0.025883,-0.090909,0.187003,...,NaN,-0.067797,-0.203520,NaN,0.496000,NaN,NaN,0.036786,0.027902,0.195670
2000-05-01,NaN,-0.144144,-0.129494,NaN,NaN,-0.027480,NaN,-0.052128,0.002500,-0.054192,...,NaN,-0.017273,-0.150817,NaN,-0.031194,NaN,NaN,0.058406,-0.019544,-0.111035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,-0.093590,-0.054932,-0.108678,-0.090000,NaN,NaN,-0.107799,-0.084379,-0.123261,NaN,...,0.014497,-0.016275,-0.096396,-0.155027,NaN,NaN,NaN,NaN,NaN,0.034740
2022-10-01,-0.019256,-0.151875,-0.106923,-0.034432,NaN,NaN,-0.109586,-0.031290,-0.076313,NaN,...,-0.149471,-0.119485,-0.177966,-0.124621,NaN,NaN,NaN,NaN,NaN,-0.075010
2022-11-01,0.165877,-0.016949,0.122224,0.107739,NaN,NaN,0.087610,-0.028352,0.041753,NaN,...,0.257890,-0.116910,0.180716,0.153238,NaN,NaN,NaN,NaN,NaN,0.057261
2022-12-01,0.108304,0.032234,0.138146,0.147260,NaN,NaN,0.075817,0.304289,0.068789,NaN,...,-0.027767,0.051221,-0.010786,0.274754,NaN,NaN,NaN,NaN,NaN,0.065715
2023-01-01,-0.042442,-0.157589,-0.025059,-0.047164,NaN,NaN,0.004245,-0.073412,-0.036436,NaN,...,-0.065715,-0.077961,-0.029076,0.113315,NaN,NaN,NaN,NaN,NaN,-0.028637

In [9]:
one_month_ranks

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2000-03-01,NaN,4.0,4.0,NaN,NaN,3.0,NaN,1.0,4.0,1.0,...,NaN,4.0,4.0,NaN,4.0,NaN,NaN,1.0,3.0,1.0
2000-04-01,NaN,2.0,1.0,NaN,NaN,3.0,NaN,3.0,1.0,4.0,...,NaN,1.0,1.0,NaN,4.0,NaN,NaN,3.0,3.0,4.0
2000-05-01,NaN,1.0,1.0,NaN,NaN,2.0,NaN,2.0,3.0,2.0,...,NaN,2.0,1.0,NaN,2.0,NaN,NaN,4.0,2.0,1.0
2000-06-01,NaN,1.0,1.0,NaN,NaN,4.0,NaN,3.0,3.0,4.0,...,NaN,3.0,4.0,NaN,2.0,NaN,NaN,3.0,4.0,4.0
2000-07-01,NaN,1.0,2.0,NaN,NaN,3.0,NaN,4.0,3.0,1.0,...,NaN,4.0,1.0,NaN,4.0,NaN,NaN,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,2.0,3.0,2.0,2.0,NaN,NaN,2.0,2.0,1.0,NaN,...,4.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0
2022-10-01,4.0,1.0,2.0,4.0,NaN,NaN,2.0,4.0,3.0,NaN,...,1.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0
2022-11-01,4.0,1.0,4.0,3.0,NaN,NaN,3.0,1.0,2.0,NaN,...,4.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,2.0
2022-12-01,3.0,2.0,4.0,4.0,NaN,NaN,3.0,4.0,3.0,NaN,...,1.0,2.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,3.0
2023-01-01,2.0,1.0,3.0,2.0,NaN,NaN,3.0,1.0,2.0,NaN,...,2.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,2.0

In [13]:
data_dict = {
    'one_month_momentum':one_month_momentum,
    'three_month_momentum':three_month_momentum,
    'six_month_momentum':six_month_momentum,
    'nine_month_momentum':nine_month_momentum,
    'twelve_month_momentum':twelve_month_momentum,
             }

In [18]:
weights_df = pd.DataFrame(dict(Factor=data_dict.keys(), Weight=0.2, Type=['low','high','high','high','high']))
weights_df

                  Factor  Weight  Type
0     one_month_momentum     0.2   low
1   three_month_momentum     0.2  high
2     six_month_momentum     0.2  high
3    nine_month_momentum     0.2  high
4  twelve_month_momentum     0.2  high

In [20]:
calculado = af.multi_factor_ranking(weights_df,data_dict,n_quantiles,None)

c:\Users\hugo.perezdealbeniz\Documents\GitHub\ranking_DIP_european_equities\app\app_functions.py:219: UserWarning: No mask was provided.
  warn("No mask was provided.")

Failed to rank:
 []

c:\Users\hugo.perezdealbeniz\Documents\GitHub\ranking_DIP_european_equities\app\app_functions.py:219: UserWarning: No mask was provided.
  warn("No mask was provided.")

Failed to rank:
 ['2000-04-01']

c:\Users\hugo.perezdealbeniz\Documents\GitHub\ranking_DIP_european_equities\app\app_functions.py:219: UserWarning: No mask was provided.
  warn("No mask was provided.")

Failed to rank:
 []

c:\Users\hugo.perezdealbeniz\Documents\GitHub\ranking_DIP_european_equities\app\app_functions.py:219: UserWarning: No mask was provided.
  warn("No mask was provided.")

Failed to rank:
 ['2000-10-01']

c:\Users\hugo.perezdealbeniz\Documents\GitHub\ranking_DIP_european_equities\app\app_functions.py:219: UserWarning: No mask was provided.
  warn("No mask was provided.")

Failed to rank:
 []

In [21]:
calculado

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2001-02-01,NaN,0.72,0.68,NaN,NaN,0.40,NaN,0.40,0.32,0.40,...,NaN,0.36,0.72,NaN,0.40,NaN,NaN,0.20,0.32,0.28
2001-03-01,NaN,0.68,0.68,NaN,NaN,0.48,NaN,0.32,0.40,0.44,...,NaN,0.44,0.60,NaN,0.36,NaN,NaN,0.32,0.36,0.52
2001-04-01,NaN,0.60,0.76,NaN,NaN,0.56,NaN,0.28,0.48,0.40,...,NaN,0.52,0.64,NaN,0.48,NaN,NaN,0.40,0.32,0.68
2001-05-01,NaN,0.68,0.72,NaN,NaN,0.64,NaN,0.32,0.48,0.32,...,NaN,0.52,0.72,NaN,0.56,NaN,NaN,0.36,0.28,0.72
2001-06-01,NaN,0.68,0.64,NaN,NaN,0.56,NaN,0.32,0.52,0.40,...,NaN,0.44,0.68,NaN,0.64,NaN,NaN,0.44,0.36,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,0.72,0.76,0.72,0.64,NaN,NaN,0.44,0.56,0.64,NaN,...,0.52,0.60,0.32,0.68,NaN,NaN,NaN,NaN,NaN,0.32
2022-10-01,0.76,0.68,0.72,0.64,NaN,NaN,0.52,0.56,0.64,NaN,...,0.44,0.52,0.48,0.72,NaN,NaN,NaN,NaN,NaN,0.36
2022-11-01,0.64,0.68,0.72,0.48,NaN,NaN,0.52,0.52,0.60,NaN,...,0.36,0.68,0.48,0.76,NaN,NaN,NaN,NaN,NaN,0.24
2022-12-01,0.52,0.72,0.60,0.52,NaN,NaN,0.44,0.48,0.72,NaN,...,0.40,0.72,0.44,0.68,NaN,NaN,NaN,NaN,NaN,0.32
2023-01-01,0.44,0.68,0.48,0.44,NaN,NaN,0.44,0.36,0.60,NaN,...,0.40,0.68,0.48,0.56,NaN,NaN,NaN,NaN,NaN,0.40