In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import app_functions as af
import plots as pl

In [3]:
n_quantiles = 10
pivoted_data_directory_filepath = r'Z:\Interés Departamental\Model Portfolio\Hugo\Ranking DIP European Equities\copia 12-04-2023\data\vertical_dowload_files'
prices_csv_filepath = r'Z:\Interés Departamental\Model Portfolio\Hugo\Ranking DIP European Equities\copia 12-04-2023\data\vertical_dowload_files\PriceClose.csv'
min_stocks_per_date_ratio=0.8
min_total_dates_ratio=0.8
expected_stocks_per_date=600
mask_filepath = r'Z:\Interés Departamental\Model Portfolio\Hugo\Ranking DIP European Equities\copia 12-04-2023\data\PriceClose_vertical\monthly_constituents_filter.csv'

In [4]:
tmp = af.read_and_sort_data(prices_csv_filepath)

2023-04-18 13:50:02.850
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\hugo.perezdealbeniz\AppData\Local\miniconda3\envs\refinitiv\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [5]:
tmp

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-01,NaN,8.164804,4.296516,NaN,NaN,20.61,NaN,14.463359,4.7500,8.753993,...,NaN,1.983096,1.420845,NaN,3.368634,NaN,NaN,3.876,2.524586,349.414876
2000-03-01,NaN,11.218151,6.288860,NaN,NaN,21.50,NaN,11.782517,5.5000,7.932050,...,NaN,2.197233,1.781508,NaN,7.352940,NaN,NaN,3.534,2.588134,322.115109
2000-04-01,NaN,10.725364,5.380019,NaN,NaN,23.29,NaN,12.087483,5.0000,9.415363,...,NaN,2.048269,1.418936,NaN,10.999998,NaN,NaN,3.664,2.660347,385.143315
2000-05-01,NaN,9.179365,4.683340,NaN,NaN,22.65,NaN,11.457383,5.0125,8.905127,...,NaN,2.012889,1.204937,NaN,10.656861,NaN,NaN,3.878,2.608354,342.378867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,30.12,16.000000,1.119500,2.730,NaN,NaN,15.261054,32.160527,36.5600,NaN,...,42.262410,3.264000,1.003000,23.11,NaN,NaN,NaN,NaN,NaN,441.619248
2022-10-01,29.54,13.570000,0.999800,2.636,NaN,NaN,13.588663,31.154221,33.7700,NaN,...,35.945404,2.874000,0.824500,20.23,NaN,NaN,NaN,NaN,NaN,408.493565
2022-11-01,34.44,13.340000,1.122000,2.920,NaN,NaN,14.779159,30.270950,35.1800,NaN,...,45.215367,2.538000,0.973500,23.33,NaN,NaN,NaN,NaN,NaN,431.884159
2022-12-01,38.17,13.770000,1.277000,3.350,NaN,NaN,15.899665,39.482074,37.6000,NaN,...,43.959871,2.668000,0.963000,29.74,NaN,NaN,NaN,NaN,NaN,460.265551
2023-01-01,36.55,11.600000,1.245000,3.192,NaN,NaN,15.967163,36.583628,36.2300,NaN,...,41.071060,2.460000,0.935000,33.11,NaN,NaN,NaN,NaN,NaN,447.084725

In [6]:
#prices_df = pd.read_csv(prices_csv_filepath,index_col=0)
mask=pd.read_csv(mask_filepath,index_col=0)
good_dfs,bad_dfs = af.filter_data(pivoted_data_directory_filepath,min_stocks_per_date_ratio,min_total_dates_ratio,expected_stocks_per_date,mask)

In [9]:
bad_dfs['PriceClose: 0.0']

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-01,NaN,8.164804,4.296516,NaN,NaN,20.61,NaN,14.463359,4.7500,8.753993,...,NaN,1.983096,1.420845,NaN,3.368634,NaN,NaN,3.876,2.524586,349.414876
2000-03-01,NaN,11.218151,6.288860,NaN,NaN,21.50,NaN,11.782517,5.5000,7.932050,...,NaN,2.197233,1.781508,NaN,7.352940,NaN,NaN,3.534,2.588134,322.115109
2000-04-01,NaN,10.725364,5.380019,NaN,NaN,23.29,NaN,12.087483,5.0000,9.415363,...,NaN,2.048269,1.418936,NaN,10.999998,NaN,NaN,3.664,2.660347,385.143315
2000-05-01,NaN,9.179365,4.683340,NaN,NaN,22.65,NaN,11.457383,5.0125,8.905127,...,NaN,2.012889,1.204937,NaN,10.656861,NaN,NaN,3.878,2.608354,342.378867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,30.12,16.000000,1.119500,2.730,NaN,NaN,15.261054,32.160527,36.5600,NaN,...,42.262410,3.264000,1.003000,23.11,NaN,NaN,NaN,NaN,NaN,441.619248
2022-10-01,29.54,13.570000,0.999800,2.636,NaN,NaN,13.588663,31.154221,33.7700,NaN,...,35.945404,2.874000,0.824500,20.23,NaN,NaN,NaN,NaN,NaN,408.493565
2022-11-01,34.44,13.340000,1.122000,2.920,NaN,NaN,14.779159,30.270950,35.1800,NaN,...,45.215367,2.538000,0.973500,23.33,NaN,NaN,NaN,NaN,NaN,431.884159
2022-12-01,38.17,13.770000,1.277000,3.350,NaN,NaN,15.899665,39.482074,37.6000,NaN,...,43.959871,2.668000,0.963000,29.74,NaN,NaN,NaN,NaN,NaN,460.265551
2023-01-01,36.55,11.600000,1.245000,3.192,NaN,NaN,15.967163,36.583628,36.2300,NaN,...,41.071060,2.460000,0.935000,33.11,NaN,NaN,NaN,NaN,NaN,447.084725

In [7]:
ev = good_dfs['EV']
evtoebit = good_dfs['EVTOEBIT']

KeyError: 'EV'

In [8]:
ranked_ev = af.rank_data(ev,n_quantiles,'high')
ranked_evtoebit = af.rank_data(evtoebit,n_quantiles,'high')

[]
[]

In [ ]:
weights

In [9]:
import numpy as np

In [ ]:
np.mean(ran)